/* Fonts */
@import url();

:root {
  --main-bg-color: #1b1b1b;
  --main-text-color: #99755a;
  --main-nav-color: #c5d0ce;
  --second-bg-color: silver;
  --main-border-color: transparent;
}

/* Remove scrollbar */

::-webkit-scrollbar {
  display: none;
}

/* main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
}

/* Nav responsive */

.header {
  border: 0.1rem solid var(--main-border-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  /* background: var(--main-bg-color); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

/* nav logo */

.logo {
  position: relative;
  font-size: 2.5rem;
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 60rem;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--main-bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}

/* Nav options */

.navbar a {
  font-size: 1.7rem;
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 50rem;
  margin-left: 3.5rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-nav-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--main-text-color);
  cursor: pointer;
  display: none;
}

/* MainText content */

.home {
  height: 100vh;
  background: url("/assests/backgroundmain.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  /* background: transparent; */
  max-width: 70rem;
  z-index: 1;
}

.home-content h1 {
  position: relative;
  float: left;
  padding: 1.5rem;
  border: 0.1rem solid var(--main-border-color);
  font-size: 4.6rem;
  font-weight: 70rem;
  line-height: 1.3;
}

.home-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--main-bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

/* h3 animated */

/* .home-content .text-animate {
  position: relative;
  width: 35rem;
} */

/* .home-content .text-animate h3 {
  font-size: 3.2rem;
  font-weight: 70rem;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-nav-color);
} */

.home-content h3 {
  position: relative;
  width: 35rem;
  padding: 1.5rem;
  border: 0.1rem solid var(--main-border-color);
  font-size: 32px;
  font-weight: 70rem;
  color: var(--main-nav-color);
}

.home-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--main-bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}

.home-content p {
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
  float: left;
  padding: 1.5rem;
  border: 1px solid var(--main-border-color);
  width: 75%;
  float: left;
}

.home-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--main-bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}

/* main buttons */

.btn-box {
  position: relative;
  border: 0.1rem solid var(--main-border-color);
  display: flex;
  justify-content: space-around;
  width: 34.5rem;
  height: 5rem;
  z-index: -1;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-nav-color);
  border: 0.2rem solid var(--main-nav-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  color: var(--main-bg-color);
  text-decoration: none;
  font-weight: 60rem;
  letter-spacing: 0.1rem;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box .btn:hover {
  color: var(--main-nav-color);
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-nav-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--main-bg-color);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--main-nav-color);
}

.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.btn-box .btn:hover:before {
  width: 100%;
}

.btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--main-bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

/* socials */

.home-sci {
  position: absolute;
  bottom: 4rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

.home-sci::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: var(--main-nav-color);
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: -1;
  transition: 0.5s;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.1rem solid var(--main-border-color);
  border-radius: 50%;
  font-size: 30px;
  color: var(--main-nav-color);
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: var(--main-bg-color);
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-nav-color);
  color: var(--main-nav-color);
  animation-delay: 2.5s;
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

/* main img */

.home-img-section {
  position: absolute;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  display: flex;
  right: 25rem;
  top: 25rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1450px) {
  .home-img-section {
    display: none;
  }
}

.home-img-section img {
  justify-content: center;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 0.2rem solid var(--main-nav-color);
}

.home-img-section .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.2rem solid var(--main-nav-color);
  border-bottom: 0.2rem solid var(--main-nav-color);
  border-left: 0.2rem solid transparent;
  border-right: 0.2rem solid transparent;
}

.home-img-section:hover {
  background: var(--main-bg-color);
  opacity: 0.8;
}

/* responsive */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) and (max-device-width: 480px) {
  .home-content {
    font-size: xx-small;
  }
  div {
    font-size: 1rem;
  }
  h1 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
  p {
    font-size: 0.3rem;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
  h1 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.7rem;
  }
  p {
    font-size: 0.3rem;
  }
}
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 1rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  .intro li {
    font-size: 1rem;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  .intro li {
    font-size: 1rem;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1224px) {
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  .intro li {
    font-size: 1rem;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  h1 {
    font-size: 2em;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 1em;
  }
  .intro li {
    font-size: 1em;
  }
}
.icon {
  margin-top: -30px;
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  h1 {
    font-size: 2em;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 1em;
  }
  .intro li {
    font-size: 1em;
  }
  .icon {
    margin-top: 100px;
  }

  /* Styles */
}
@media only screen and (min-width: 724px) and (max-width: 1260px) {
  h1 {
    font-size: 5em;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 1em;
  }
  .intro li {
    font-size: 1em;
  }
  .icon {
    margin-top: 90px;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .icon {
    margin-top: 300px;
  }
  p {
    font-size: 5em;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}

/* keyframe main animations */

@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes mainActivaHover {
  100% {
    pointer-events: auto;
  }
}

/* Aboutme slider */

.aboutme {
  background-image: url(assests/backgroundmain.png);
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
}

.slider-container {
  background-image: url(assests/backgroundmain.png);
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  /* width: 100%;
  height: 100%;
  max-height: 100vw;
  max-width: 100vw; */
  /* display: flex; */
  width: max-content;
  margin: auto;
}

.slider-container .wrapper {
  width: 192rem;
  /* height: 93.6rem; */
  max-width: 100%;
  box-shadow: 1rem 1rem 2rem rgb(138, 134, 134);
  margin: 10rem auto;
  overflow: hidden;
}

.slider-container .wrapper-holder {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  height: center;
  width: 100%;
  animation: slider 30s ease-in-out infinite;
}

.slider-container #slider-img-1 {
  background-image: url(assests/1.jpg);
  background-position: center;
  width: 100%;
  height: 100%;
}
.slider-container #slider-img-2 {
  background-image: url(assests/2.jpg);
  background-position: center;
  width: 100%;
  height: 100%;
}
.slider-container #slider-img-3 {
  background-image: url(assests/3.jpg);
  background-position: center;
  width: 100%;
  height: 100%;
}

.slider-container .button-holder .slider-button {
  background-color: var(--main-nav-color);
  width: 4rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin: 0.3rem;
}
.slider-container .button-holder {
  position: absolute;
  left: 45%;
  bottom: 10%;
}
.slider-button:hover {
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 1);
}

/* slider animation */

/* @keyframes slider {
  0% {
    transform: translate(0%);
  }
  10% {
    transform: translate(-100%);
  }
  20% {
    transform: translate(-100%);
  }
  30% {
    transform: translate(-200%);
  }
  40% {
    transform: translate(-200%);
  }
  50% {
    transform: translate(-200%);
  }
  60% {
    transform: translate(-300%);
  }
  70% {
    transform: translate(-300%);
  }
  80% {
    transform: translate(-300%);
  }
  90% {
    transform: translate(0%);
  }
  100% {
    transform: translate(0%);
  }
} */

/* education */

.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.heading span {
  color: var(--main-nav-color);
}

.education {
  background: url(assests/backgroundmain.png);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: inherit;
  padding-top: 22rem;
  padding-bottom: 22rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.education .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-row .education-column {
  flex: 1 1 40rem;
  z-index: 1;
}

.education-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
  border-left: 0.2rem solid var(--main-nav-color);
}

.education-box .education-content {
  position: relative;
  padding-left: 2rem;
}

.education-box .education-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: var(--main-nav-color);
  border-radius: 50%;
}

.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-nav-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.education-content .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  opacity: 0.2;
  z-index: -1;
  transition: 0.5s;
}

.education-content .content:hover::before {
  width: 100%;
}

.education-content .content .year {
  font-size: 1.5rem;
  color: var(--main-nav-color);
  padding-bottom: 0.5rem;
}

.education-content .content .year i {
  padding-right: 0.5rem;
}

.education-content .content h3 {
  font-size: 2rem;
}

.education-content .content p {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}

/* skills section */

.skills {
  background: url(assests/backgroundmain.png);
  min-height: auto;
  padding: 20rem;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  /* min-height: inherit; */
  /* min-width: auto; */
}

.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.skills-row .skills-column {
  flex: 1 1 40rem;
}

.skills-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}

.skills-box .skills-content {
  position: relative;
  border: 0.2rem solid var(--main-nav-color);
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
}

.skills-box .skills-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.skills-box .skills-content:hover::before {
  width: 100%;
  opacity: 0.2;
}

.skills-content .progress {
  padding: 1rem 0;
}

.skills-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}

.skills-content .progress h3 span {
  color: var(--main-nav-color);
}

.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-nav-color);
  padding: 0.5rem;
  margin: 1rem 0;
}

.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--main-nav-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 75%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 60%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 10%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 10%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
  width: 95%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
  width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
  width: 10%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
  width: 10%;
}

/* contact me section */

/* .contact {
  background-image: url(assests/backgroundmain.png);
  min-width: auto;
  padding: 7rem;
}

.contact form {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.contact form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box .input-field {
  position: relative;
  width: 50%;
  margin: 0.8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--main-text-color);
  background: transparent;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-nav-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
  color: var(--main-text-color);
}

.contact form .textarea-field {
  position: relative;
  margin: 0.8rem 0 2.7rem;
  display: flex;
}

.contact form .textarea-field textarea {
  resize: none;
}

.contact form .btn-box .bts .btn {
  cursor: pointer;
} */

/* BIT Projects SECTION */

.bit {
  background: url(assests/backgroundmain.png);
  min-height: auto;
  padding: 20rem;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  /* min-height: inherit; */
  /* min-width: auto; */
}

.bit .bit-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.bit-row .bit-column {
  flex: 1 1 40rem;
}

.bit-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}

.bit-box .bit-content {
  position: relative;
  border: 0.2rem solid var(--main-nav-color);
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
}

.bit-box .bit-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}

/* .bit-box .bit-content:hover::before {
  width: 100%;
  opacity: 0.2;
} */

.bit-content .progress {
  padding: 1rem 0;
}

.bit-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}

.bit-content .progress h3 span {
  color: var(--main-nav-color);
}

.bit-content .progress .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-nav-color);
  padding: 0.5rem;
  margin: 1rem 0;
}

.bit-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--main-nav-color);
}

.bit-column:nth-child(1) .bit-content .progress:nth-child(1) .bar span {
  width: 85%;
}
.bit-column:nth-child(1) .bit-content .progress:nth-child(2) .bar span {
  width: 60%;
}
.bit-column:nth-child(1) .bit-content .progress:nth-child(3) .bar span {
  width: 1%;
}
.bit-column:nth-child(1) .bit-content .progress:nth-child(4) .bar span {
  width: 1%;
}

/* Bit buttons */

.bit-btn-box {
  position: relative;
  border: 0.1rem solid var(--main-border-color);
  display: flex;
  justify-content: space-around;
  width: 34.5rem;
  height: 5rem;
  z-index: 1;
}

.bit-btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-nav-color);
  border: 0.2rem solid var(--main-nav-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  color: var(--main-bg-color);
  text-decoration: none;
  font-weight: 60rem;
  letter-spacing: 0.1rem;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.bit-btn-box .btn:hover {
  color: var(--main-nav-color);
}

.bit-btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-nav-color);
}

.bit-btn-box .btn:nth-child(2):hover {
  color: var(--main-bg-color);
}

.bit-btn-box .btn:nth-child(2)::before {
  background: var(--main-nav-color);
}

.bit-btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.bit-btn-box .btn:hover:before {
  width: 100%;
}

/* .bit-btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--main-bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
} */

/* footer section */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 10%;
  background: var(--main-bg-color);
  z-index: 10;
}

.footer-text p {
  font-size: 2.6rem;
}

.footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-nav-color);
  border: 0.2rem solid var(--main-nav-color);
  border-radius: 0.6rem;
}

.footer-iconTop a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-bg-color);
  z-index: -1;
  overflow: hidden;
  transition: 0.5s;
}

.footer-iconTop a:hover::before {
  width: 100%;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--main-bg-color);
  transition: 0.5s;
}

.footer-iconTop a:hover i {
  color: var(--main-bg-color);
}
